<h1>Result</h1>
<!--

1 - if @guess is not included in letters, then "Sorry, but ${@guess} can't built out of @letters"
include?

2 - elsif guess is not a word, then "Sorry, but ${@guess} does not seem to be a valid english word"

open url
get response
parse JSON
get found key and if == true, true

"https://wagon-dictionary.herokuapp.com/:word"



3 - else ${@guess} is included in @letters and a valid english word, then "Congratulations! ${@guess} is a valid english word"
-->
<br>
<%= link_to "Play again", new_path %>
